In [ ]:
import pandas as pd
import csv

In [2]:
#df_review = pd.read_csv("yelp_academic_dataset_review.csv")
df_review = pd.read_csv("df_review_Las_Vegas.csv")

In [3]:
df_review.head(5)

,Unnamed: 0,funny,user_id,review_id,text,business_id,stars,date,useful,type,cool
0,0,1,h_c7PjnpUnF_-LAegBv7CA,PBuL2xZYXI_RyhQYaWlmJg,I love this place been coming here since last ...,A0X1baHPgw9IiBRivu0G9g,4.0,2015-02-27,1.0,review,1.0
1,1,4,tw1YfWwGJffPlUNTl_w1fw,1wT35ZGPVZaOSq0TjCI-hA,"Besides getting a ticket to Paris, this French...",A0X1baHPgw9IiBRivu0G9g,5.0,2014-05-04,6.0,review,3.0
2,2,0,cVeJB7E_YE8FrKpZyi2JRw,0YNyA2hWnGBt0hdoZUTN2Q,The only reason I'm not giving five stars is b...,A0X1baHPgw9IiBRivu0G9g,4.0,2014-02-15,0.0,review,0.0
3,3,0,mAqrLyouqff2P4lBzakDPg,hT9m4yh20Ao38Tu2eD2NaQ,Saw all the great yelp reviews and wanted to t...,A0X1baHPgw9IiBRivu0G9g,4.0,2015-01-29,0.0,review,0.0
4,4,0,ZKwO9lkpAnOnQlBL1fXf1w,2LUuhvDtyvgBrbq9hFAZug,I love the sprawling casualness of this place....,A0X1baHPgw9IiBRivu0G9g,4.0,2014-12-04,1.0,review,0.0

In [4]:
df_review.drop('Unnamed: 0', axis=1, inplace = True)

In [5]:
df_review['business_id'].unique().shape[0]

1345L

In [6]:
len(df_review)

756624

In [7]:
df_user = pd.read_csv("df_user_Las_Vegas.csv")

In [8]:
df_business = pd.read_csv("df_business_Las_Vegas.csv")

In [9]:
len(df_business)

1345

In [10]:
len(df_user)

288577

In [11]:
df_business.columns

Index([u'Unnamed: 0', u'neighborhood', u'business_id', u'hours', u'is_open',
       u'address', u'attributes', u'categories', u'city', u'review_count',
       u'name', u'longitude', u'state', u'stars', u'latitude', u'postal_code',
       u'type'],
      dtype='object')

In [12]:
df_business.drop('Unnamed: 0', axis=1, inplace = True)

In [13]:
df_review.columns

Index([u'funny', u'user_id', u'review_id', u'text', u'business_id', u'stars',
       u'date', u'useful', u'type', u'cool'],
      dtype='object')

In [14]:
df_user.columns

Index([u'Unnamed: 0', u'yelping_since', u'useful', u'compliment_photos',
       u'compliment_list', u'compliment_funny', u'compliment_plain',
       u'review_count', u'elite', u'fans', u'type', u'compliment_note',
       u'funny', u'compliment_writer', u'compliment_cute', u'average_stars',
       u'user_id', u'compliment_more', u'friends', u'compliment_hot', u'cool',
       u'name', u'compliment_profile', u'compliment_cool'],
      dtype='object')

In [15]:
df_user.drop('Unnamed: 0', axis=1, inplace = True)

In [16]:
df_business['review_count'].value_counts()

204     13
235     11
207     10
263      9
209      9
216      8
201      8
239      8
267      8
245      8
212      8
211      8
249      8
226      8
215      7
259      7
358      7
230      7
254      7
307      7
311      7
227      7
217      6
357      6
225      6
224      6
223      6
231      6
233      6
234      6
        ..
675      1
678      1
680      1
681      1
683      1
685      1
694      1
697      1
701      1
703      1
706      1
709      1
710      1
717      1
757      1
719      1
720      1
2771     1
2779     1
734      1
736      1
737      1
739      1
740      1
2303     1
744      1
747      1
749      1
755      1
2056     1
Name: review_count, dtype: int64

In [17]:
len(df_business[df_business.city == "Las Vegas"])

1345

In [18]:
df_business = df_business[(df_business.city == "Las Vegas")]

In [ ]:
len(df_business)

In [20]:
df_business = df_business[df_business['review_count'] > 300]

In [21]:
len(df_business)

879

In [22]:
df_business.to_csv("df_business_Las_Vegas.csv")

In [23]:
df_business['business_id'].unique().shape[0]

879L

In [24]:
df_review.head(2)

,funny,user_id,review_id,text,business_id,stars,date,useful,type,cool
0,1,h_c7PjnpUnF_-LAegBv7CA,PBuL2xZYXI_RyhQYaWlmJg,I love this place been coming here since last ...,A0X1baHPgw9IiBRivu0G9g,4.0,2015-02-27,1.0,review,1.0
1,4,tw1YfWwGJffPlUNTl_w1fw,1wT35ZGPVZaOSq0TjCI-hA,"Besides getting a ticket to Paris, this French...",A0X1baHPgw9IiBRivu0G9g,5.0,2014-05-04,6.0,review,3.0

In [68]:
# review = pd.merge(df_business, df_review, on = 'business_id', how = 'left')

In [25]:
df_business_temp = df_business.head(10)

In [26]:
df_review_temp = df_review.head(10)

In [27]:
df_business['business_id']

1       Pob7ibbNT29--69nxXEP2g
2       _pBXtjN43eqMV0XZTz7nmw
3       f9sU31meK0bqAD7922sCog
4       5iSmZO0SrKU6EoXK_1M8Kw
5       xkVMIk_Vqh17f48ZQ_6b0w
6       d4qwVw4PcN-_2mK2o1Ro1g
7       4k3RlMAMd46DZ_JyZU0lMg
9       h3pMMRwqBjMeMtk0_qQzRQ
10      6xgcHeLad-VaoTIQewK84A
12      d482l58ho0_IMdFkXX1F5Q
13      uuGlYAIvYAX1q1KhpY6dtA
17      uWECX6-Uq9n8v5ipk9R29A
18      YnmtUJGqQIQL9tz1MRyfqA
19      s0vNtuLs1cwEqHTXKiS05w
20      kABF0hYfAEnl166mn1zR1A
21      oWD385Ues-RWJmhP_Riz1g
22      JXwyTKI7TlnleDhT3LRKKQ
23      EhIMjTklf4QPvRvMIhoQiA
25      EAwh1OmG6t6p3nRaZOW_AA
28      EVxY3Vcc-4uavsq2CQsk3g
30      KalAJyO0Zpg3K1wVwYXBHA
31      WDKTg468bkRPW0LqbAZfmg
32      3BCsAgo_1i4xMuTyLKMLRQ
33      yhgUyctWczUN13MinNgZ3w
35      kRgAf6j2y1eR0wOFdzFAuw
36      RESDUcs7fIiihp38-d6_6g
37      ZjSzUWHtnpCfjsa7CksSOg
38      6tSvz_21BMo3a4GaItwa0g
39      km5aBHRss5ir_B0jvEErzQ
40      LFs5jyYdXlzi0SpAYi1eSA
                 ...
1297    Vs7gc9EE3k9wARuUcN9piA
1298    glkEaoxbewiSMBiXs945JA
1299    y4ETe3DkcIjjr_eyeg5U5g
1301    JDZ6_yycNQFTpUZzLIKHUg
1302    9wxxjUKdaiWeK0fGxSYhzQ
1303    gJd1jOcl5FdqY020Q19n6Q
1304    8olG8J91NG_QU92WHG5QfA
1306    Gh1BoQNMGkh91pSHqvDRAA
1307    gx2yPrOJSwF1ApJYdGBWIw
1308    hojZyJk1Wf2UE2CpG7cgIg
1311    O7UMzd3i-Zk8dMeyY9ZwoA
1312    BEplfZTUzYwApjMUaOA12w
1315    NIOwzgujIXKVBEVNTQBXpg
1318    qqs7LP4TXAoOrSlaKRfz3A
1319    fcWkZgmzRsm3H4egzSrV_A
1320    bPcqucuuClxYrIM8xWoArg
1321    WO1sgbYB6u6VVcvChanp5g
1322    dWrezcuIAO-Ckx1W0gu5jg
1323    AV6weBrZFFBfRGCbcRGO4g
1324    9SU7ZZhaFUJJ6m2k5HKHeg
1326    w0XjeV4WIUskQy8wwQf40w
1329    OjApDLQUPV8c_yPCg8xZog
1330    PyrcymoNDAJDm_Zn9yl-7A
1331    RJZK4XXMXYcu9NeLOWMP5A
1334    YhCAJ8acd1X7GkCHPhD8Xw
1335    UYh1N1xQhOh-a7nX92xPzQ
1337    LpGCzgAKNSpzDNEUMVVtZA
1339    dM8Yp8StA1NdusK5Ta_j-g
1341    8pmGz3Lg4f_r7HdDZPa4dQ
1344    w5CSi-An5meLnxjKSFn0wQ
Name: business_id, dtype: object

In [28]:
df_review_LV = df_review[df_review['business_id'].isin(df_business['business_id'])]

In [29]:
len(df_review_LV)

643224

In [30]:
df_review_LV.to_csv('df_review_Las_Vegas.csv')

In [31]:
df_user_LV = df_user[df_user['user_id'].isin(df_review_LV['user_id'])]

In [32]:
len(df_user_LV)

261630

In [33]:
df_user_LV.to_csv('df_user_Las_Vegas.csv')

In [40]:
df_review = df_review_LV.copy()

In [41]:
df_user = df_user_LV.copy()

In [43]:
len(df_review)

756624

In [34]:
users_idx = df_user_LV[df_user_LV['review_count'] > 300]['user_id']

In [35]:
users_idx.head(100)

0      EZmocAborM6z66rTzeZxzQ
2      FIk4lQQu1eTe2EpzQ4xhBA
3      ojovtd9c8GIeDiB8e0mq2w
9      CK-W4WhlmLKOZF-50WmmpQ
12     tL2pS5UOmN6aAOi3Z-qFGg
15     v10dHdqf42tUkxbYVnFW6w
16     0o8HUzggoNKay9-ZMj3HqQ
18     kK0QDyfeSwcZl4gGilnW7w
19     VVMqxCARIOdUzpqngpFMgA
20     UrOofvcBl0gAbKPAEaj83A
22     p03AKnMXXbgetIEHHFP3wQ
26     rCmnApNqRK36uzdrnzXm0g
31     2ttZShfOh7m_5e_jSrtQQw
36     WaevPI-Qm0VTDjPJUMr8GA
38     -jt1ACMiZljnBFvS6RRvnA
50     4yGImSwdU9FZxVQIbZql3w
54     J3ucveGKKJDvtuCNnb_x0g
55     GABWrw5Et9jubriKwMUDbw
57     xceJT1G2Yhel3W2lRxRTDA
58     NJqmAzerpbAIC0-VBclwgA
59     xU4silHWZGOWz92hPIdFpQ
63     5gbkhlWANGVzQYi_0m3vOQ
65     CjvFxl6_7AK3lw5O49MN8g
66     HkVnslspLbmATUzBs3ZdKQ
68     gPK2AKr-UA_7hZus80SSng
72     uIB8qFzG5E3PUGfiCiUmqg
78     LHT4AADPgWT0BM4tZKCz2Q
79     oBhQMjrT0zdSLdlybWRA_w
83     h9RUaaHa5kcQKqtJ-sgS0Q
85     qmjoMFMZdLH69_6eGTGDZw
                ...
236    rNjgVKaBh1PlUA6dYB6EUw
241    WN3FQ5lNz5q8FFbeH42OxQ
243    pD4c0eVE0ImAgcag4w4-lA
244    sfQXLZGk6beiSuNZYb8iSQ
245    DHRupjFv4GyD0tEdj-QNjQ
246    31OJfBoBXGDfK1LK72q_Qg
247    ShNLdJa5lxOaHKhUjtfnSw
248    gg_kE0zjr4Sp-L8MBI1m5w
250    pJYRi9MB06aiuL-w8Ms-Og
256    K5FrmVM70cJDbMiZ9ywMag
260    IfBVYCvv-mm8dREEVNpjaQ
264    VD8Ox-akHloK3-QV3FxY-g
265    VeYSD3Xgxd-R4yowet51tA
266    _zR_YufhDeXs4c020eWWOA
279    25lrlCp87N0jG8XMF75_Rg
281    9kIcMeveJXxWGVOVdXyQyg
294    sa5zd7bwBQzajQB48Y9SUw
295    dIIKEfOgo0KqUfGQvGikPg
297    fou9pya19z4NWWAGZslxXA
298    _pBzBgtCTN9PNUPfgPDI8A
299    ltTLCzM4p-1cnC70SPNfSA
310    KDewJBJknfWvQyHHFNbfdg
311    mjOKUSdIqxFPSYMB-MmS9g
312    GIL4XSLZguuukqZFRxHq_g
313    hGeXKYWkqJgFC1u_Sh6kCg
315    lf1m4CbheuUR7fFZoLGRvA
316    DHUfDrzWi0rTSel-14RLoA
317    Bv13-l4HTz-pt5kS22y9LQ
319    G-uVT9JxNMbrPApvuVO6pg
320    PgrCdD3iPgYzXxO8QsMnew
Name: user_id, dtype: object

100

In [12]:
df_user = df_user[(df_user.review_count > 60)]

In [13]:
len(df_user)

84866

In [14]:
df_user.to_csv("user.csv")

In [22]:
user = pd.merge(df_review, df_user, on = 'user_id', how = 'left')

In [23]:
len(user)

598273

In [24]:
user.columns

Index([u'funny_x', u'user_id', u'review_id', u'text', u'stars', u'date',
       u'useful_x', u'type_x', u'cool_x', u'business_id', u'yelping_since',
       u'useful_y', u'compliment_photos', u'compliment_list',
       u'compliment_funny', u'compliment_plain', u'review_count', u'elite',
       u'fans', u'type_y', u'compliment_note', u'funny_y',
       u'compliment_writer', u'compliment_cute', u'average_stars',
       u'compliment_more', u'friends', u'compliment_hot', u'cool_y', u'name',
       u'compliment_profile', u'compliment_cool'],
      dtype='object')

In [20]:
review.columns

Index([u'neighborhood', u'business_id', u'hours', u'is_open', u'address',
       u'attributes', u'categories', u'city', u'review_count', u'name',
       u'longitude', u'state', u'stars_x', u'latitude', u'postal_code',
       u'type_x', u'funny', u'user_id', u'review_id', u'text', u'stars_y',
       u'date', u'useful', u'type_y', u'cool'],
      dtype='object')

In [26]:
#r = review[['funny', 'user_id', 'review_id', 'text', 'stars_y', 'date', 'useful', 'type_y', 'cool', 'business_id']]
u = user[['yelping_since', 'useful_y', 'compliment_photos', 'compliment_list','compliment_funny', 'compliment_plain', 'review_count', 'elite',
       'fans', 'type_y', 'compliment_note', 'funny_y', 'compliment_writer',
       'compliment_cute', 'average_stars', 'compliment_more', 'friends',
       'compliment_hot', 'cool_y', 'name', 'compliment_profile',
       'compliment_cool', 'user_id']]

In [22]:
len(r)

598272

In [27]:
len(u)

598273

In [24]:
new_columns = r.columns.values
new_columns[4] = 'stars'
new_columns[7] = 'type'
r.columns = new_columns

In [25]:
r.columns

Index([u'funny', u'user_id', u'review_id', u'text', u'stars', u'date',
       u'useful', u'type', u'cool', u'business_id'],
      dtype='object')

In [28]:
new_columns = u.columns.values
new_columns[1] = 'useful'
new_columns[9] = 'type'
new_columns[11] = 'funny'
new_columns[18] = 'cool'
#new_columns[19] = 'name'
u.columns = new_columns

In [29]:
u.columns

Index([u'yelping_since', u'useful', u'compliment_photos', u'compliment_list',
       u'compliment_funny', u'compliment_plain', u'review_count', u'elite',
       u'fans', u'type', u'compliment_note', u'funny', u'compliment_writer',
       u'compliment_cute', u'average_stars', u'compliment_more', u'friends',
       u'compliment_hot', u'cool', u'name', u'compliment_profile',
       u'compliment_cool', u'user_id'],
      dtype='object')

In [30]:
df_user.columns

Index([u'yelping_since', u'useful', u'compliment_photos', u'compliment_list',
       u'compliment_funny', u'compliment_plain', u'review_count', u'elite',
       u'fans', u'type', u'compliment_note', u'funny', u'compliment_writer',
       u'compliment_cute', u'average_stars', u'user_id', u'compliment_more',
       u'friends', u'compliment_hot', u'cool', u'name', u'compliment_profile',
       u'compliment_cool'],
      dtype='object')

In [31]:
#df_review = r.copy()
df_user = u.copy()

In [32]:
len(df_business)

1262

In [33]:
len(df_review)

598273

In [34]:
len(df_user)

598273

In [35]:
df_business.columns

Index([u'neighborhood', u'business_id', u'hours', u'is_open', u'address',
       u'attributes', u'categories', u'city', u'review_count', u'name',
       u'longitude', u'state', u'stars', u'latitude', u'postal_code', u'type'],
      dtype='object')

In [36]:
df_review.columns

Index([u'funny', u'user_id', u'review_id', u'text', u'stars', u'date',
       u'useful', u'type', u'cool', u'business_id'],
      dtype='object')

In [37]:
df_user.columns

Index([u'yelping_since', u'useful', u'compliment_photos', u'compliment_list',
       u'compliment_funny', u'compliment_plain', u'review_count', u'elite',
       u'fans', u'type', u'compliment_note', u'funny', u'compliment_writer',
       u'compliment_cute', u'average_stars', u'compliment_more', u'friends',
       u'compliment_hot', u'cool', u'name', u'compliment_profile',
       u'compliment_cool', u'user_id'],
      dtype='object')

In [38]:
df_user.to_csv("df_user.csv")

In [91]:
len(df_review)

598272

In [47]:
df_business['review_count'].unique().shape[0]

573

In [89]:
#df_review.to_csv("df_review.csv")
#df_user.to_csv("df_user.csv")

In [54]:
df_user['average_stars'].value_counts()

3.83    3492
3.88    3416
3.80    3307
3.68    3226
3.73    3211
3.79    3187
3.78    3152
3.66    3111
3.89    3067
3.60    2976
3.70    2965
3.87    2960
3.62    2949
3.64    2942
3.59    2937
3.95    2913
3.67    2876
3.72    2851
3.71    2849
3.81    2815
3.96    2793
4.00    2780
3.74    2761
3.97    2750
3.90    2741
3.86    2723
3.84    2721
3.69    2714
3.76    2691
3.63    2683
        ...
2.43       5
2.25       5
1.99       4
2.30       4
1.58       4
4.97       3
1.87       3
1.91       3
2.19       3
4.94       3
2.01       2
2.05       2
2.33       2
1.76       2
1.84       2
1.66       2
1.63       1
1.96       1
1.47       1
4.98       1
4.92       1
1.81       1
2.18       1
4.99       1
1.78       1
2.12       1
1.79       1
1.36       1
4.96       1
2.00       1
Name: average_stars, dtype: int64

In [93]:
df_user.columns

Index([u'yelping_since', u'useful', u'compliment_photos', u'compliment_list',
       u'compliment_funny', u'compliment_plain', u'review_count', u'elite',
       u'fans', u'type', u'compliment_note', u'funny', u'compliment_writer',
       u'compliment_cute', u'average_stars', u'compliment_more', u'friends',
       u'compliment_hot', u'cool', u'name', u'compliment_profile',
       u'compliment_cool', u'user_id'],
      dtype='object')

The history saving thread hit an unexpected error (OperationalError('database or disk is full',)).History will not be written to the database.

In [36]:
import ast
import numpy as np
from numpy.linalg import norm
from sklearn.pipeline import Pipeline, FeatureUnion
from scipy.sparse import coo_matrix
import heapq

In [37]:
import simplejson as json
from datetime import datetime
from sklearn.cross_validation import train_test_split
from _collections import defaultdict

C:\Users\Harika Konagala\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [38]:
def get_data(line, cols):
    d = json.loads(line)
    return dict((key, d[key]) for key in cols)

In [39]:
def string_to_dict(dict_string):
    if dict_string is not np.nan:
        dict_string = ast.literal_eval(dict_string)
    return dict_string

In [40]:
df_business = pd.read_csv("df_business_Las_Vegas.csv")
df_business = df_business[df_business['business_id'].str.contains("#NAME") == False]
df_business = df_business.sort('business_id')

C:\Users\Harika Konagala\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [41]:
df_business.attributes = df_business.attributes.apply(string_to_dict)
print type(df_business['attributes'][0])
df_business.index = range(len(df_business))

<type 'list'>

In [42]:
df_user = pd.read_csv("df_user_Las_Vegas.csv")
df_user = df_user.sort('user_id')
df_user.index = range(len(df_user))

C:\Users\Harika Konagala\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [43]:
df_review = pd.read_csv("df_review_Las_Vegas.csv")

data_load_time = datetime.now()
print 'Data was loaded at ' + data_load_time.time().isoformat()

Data was loaded at 09:25:56.038000

In [44]:
df_user['user_id'].value_counts()

BdOS8V9TIfoOOFox4A8KFQ    1
6vwP_18SlSylcEfC_lSXsQ    1
KVZOK_vuTw38Us4QNe1WdA    1
zpB6UXczhM2vYpBjwlwbJg    1
rr_GP6CrQmFltxvl61NYhw    1
ze8UAq2fHoc7VCFH3578sA    1
yP9UGWeV92pbUY-oMuqPig    1
-q1hhk3oHwvkpbL4CuhnnA    1
FV4X672BDK-UJfc_JSKMpw    1
D5X1iUJlkOTjmiMixuhIpw    1
rJ8_8DbWDn3a4VMaLZFNiw    1
arGT4q7uFJr9OwyDj2bqxw    1
cfVNasPvB0ehIKPDfRs8NQ    1
WaSg9RgdsEZkzAEmM6ckhw    1
fgFNnhNbIz3Cvp_gBCOqpA    1
qmklfRiasr-j0euwXtcprw    1
Q7_7CYKaSySKQPPEcSZ2Ug    1
dW34JhdjDVGuf8ZIi4cS5w    1
X4caJ2YOeI2x3JzNJlOLYg    1
4ekpwaNQ49lgxqP5Mog3lQ    1
IbH_fMDCv2JnPRwYq_gyGA    1
3OWwRZyb087JSf_AlqYe1Q    1
yaHYVfMuj89lQYXUqFDlSQ    1
j1LmItVw8Ir_GmQ6_yDidA    1
5apTv4a7NWUJbDZdR7J5SQ    1
Xtgc4m739ypHO88Zqwe97g    1
9vYvzmgTb0wn9g7cXD56qA    1
W-6CW-jX7FElQ1FzuDLBfw    1
0DAJCCZcwsftU0gX5C0P7A    1
ojYKqkgJ4HVAEmnjOvSZyQ    1
                         ..
XdoG47Ib5CmJ_5Y7JAALEA    1
GBco3mVxeCDix8FHNBW85w    1
TjfTL_9QxuH4a3fH_xHAmg    1
s3U36sFJ960PQn91yN4x-w    1
9wwNFQULAXWMHXQQKB3GwQ    1
bDj2equnRiABvaxxI8eAug    1
7535Wmcc31Sd4xbaWZjX0w    1
DVFLlLAHW-K-Hqt7OteR_g    1
jHwMV64G3jQbbT1_z4qclQ    1
dNW2d6nG-NEp66MODmDQFg    1
m0vfJs4q_z_SR0_q4PTdXg    1
tA6QLvhHDabXCPpAm_yHFw    1
rVNzLtVo0e8-B_zhjcMBpg    1
luha37ZmavUAArWEhkZBHw    1
6Aqot7bwAqkrcfGsRk8HIw    1
DDIMiC69en1Gl3t7EM8MQQ    1
HR8XbWpZA53y_UqwFQFLng    1
xZUfdGNLVf89XpGsK2RT5g    1
3W3obra49e_udbDrZqWA_A    1
uUwBUasesyn3LLXysx54LQ    1
xSgrsWw77SoTgy2BM3znYQ    1
Ym6GF8TyJMPGV3X-0EhciA    1
IBI9ezcDI8RCmYCsLzljcQ    1
pFCrJCfkexBRyceQVwLNdA    1
Z3tXRI81D5sKRx0arY38uw    1
Q2gsmbb_eC0G-J9TnnIEig    1
iCtxZdGSYU_4TkEMB1DpAw    1
vswpxtPoFBFD22n861YpbA    1
Mcp_KMrRvwSJTUKkj8M7SQ    1
an8MLCN3dYT8J6eSaszWlw    1
Name: user_id, dtype: int64

In [49]:
user = 'WaSg9RgdsEZkzAEmM6ckhw'

In [45]:
from sklearn import base
from sklearn.feature_extraction import DictVectorizer # for One_Hot_Encoder



''' ----------------
Functions used in One_Hot_Encoder
----------------- '''
def Value_To_Dict(val):
    return {val:1}

def List_To_Dict(the_list):
    return {category:1 for category in the_list}
    
def Flatten_Dict(d, prekey = ''):
    flat_dict = {}
    for k, v in d.items():
        if isinstance(v, bool) and v:
            flat_dict.update({prekey+'_'+k:1})
        elif isinstance(v, str):
            flat_dict.update({prekey+'_'+k+'_'+v:1})
        elif isinstance(v, dict):
            flat_dict.update(Flatten_Dict(v, prekey=prekey+'_'+k))
    return flat_dict

def flatten(structure, key="", path="", flattened=None):
    if flattened is None:
        flattened = {}
    if type(structure) not in(dict, list):
        flattened[((path + "_") if path else "") + key] = structure
    elif isinstance(structure, list):
        for i, item in enumerate(structure):
            flatten(item, "%d" % i, path + "_" + key, flattened)
    else:
        for new_key, value in structure.items():
            flatten(value, new_key, path + "_" + key, flattened)
    return flattened
''' -------------------
Converts a feature column values into a One-Hot Encoding matrix. If
feature values are lists or (nested) dicts, a column for each list 
entry or dict (sub)key is created.
Inputs: colnames is a string of the column name
        value_type is the type (value, list or dict) of feature values
        sparse indicates whether the matrix is sparse
Dependencies: sklearn.feature_extraction.DictVectorizer
              sklearn.base
------------------- '''
class One_Hot_Encoder(base.BaseEstimator, base.TransformerMixin):
    def __init__(self, colnames, value_type = 'value', sparse = True):
        if value_type == 'value':
            self.apply_function_ = Value_To_Dict
        elif value_type == 'list':
            self.apply_function_ = List_To_Dict
        elif value_type == 'dict':
            self.apply_function_ = flatten
        self.colnames_ = colnames
        self.dv_ = DictVectorizer(sparse = sparse)

    def fit(self, X, y = None):
        self.dv_.fit(X[self.colnames_].apply(self.apply_function_))
        return self

    def transform(self, X):
        return self.dv_.transform(X[self.colnames_].apply(self.apply_function_))






''' -------------------
Selects and returns the specified column(s)
Inputs: colnames is a list of column(s) to select
Dependencies: sklearn.base
------------------- '''
class Column_Selector(base.BaseEstimator, base.TransformerMixin):
    def __init__(self, colnames):
        self.colnames_ = colnames

    def fit(self, X, y = None):
        return self

    def transform(self, X):
        return pd.DataFrame(X[self.colnames_])

In [102]:
#df_business = df_business[(df_business.review_count > 20)]

In [56]:
df_user.columns

Index([u'Unnamed: 0', u'yelping_since', u'useful', u'compliment_photos',
       u'compliment_list', u'compliment_funny', u'compliment_plain',
       u'review_count', u'elite', u'fans', u'type', u'compliment_note',
       u'funny', u'compliment_writer', u'compliment_cute', u'average_stars',
       u'user_id', u'compliment_more', u'friends', u'compliment_hot', u'cool',
       u'name', u'compliment_profile', u'compliment_cool'],
      dtype='object')

In [46]:
len(df_business)

879

In [105]:
#df_user = df_user[(df_user.review_count > 20)]

In [47]:
len(df_user)

261630

In [50]:
print '*** Using Content-based Filtering for Recommendation ***'
print '** Initializing feature extraction for user ' + user

print '***Extracting deep nn features from reviews***'

business_ids = df_review['business_id']
# biz_id_set = set(business_ids)
document_hash = defaultdict(str)
for i in range(len(df_review)):
    try:
        document_hash[business_ids[i]] += df_review['text'][i]
    except:
        continue

*** Using Content-based Filtering for Recommendation ***
** Initializing feature extraction for user WaSg9RgdsEZkzAEmM6ckhw
***Extracting deep nn features from reviews***

In [51]:
# Extract features of each business: category, attribute, average rating
OHE_cat = One_Hot_Encoder('categories', 'list', sparse=False)
OHE_attr= One_Hot_Encoder('attributes', 'dict', sparse=False)
OHE_city= One_Hot_Encoder('city', 'value', sparse=False)
rating = Column_Selector(['stars'])
OHE_union = FeatureUnion([ ('cat', OHE_cat), ('attr', OHE_attr), ('city', OHE_city), ('rating', rating) ])
# OHE_union = OHE_attr
OHE_union.fit(df_business)

FeatureUnion(n_jobs=1,
       transformer_list=[('cat', One_Hot_Encoder(colnames=None, sparse=None, value_type=None)), ('attr', One_Hot_Encoder(colnames=None, sparse=None, value_type=None)), ('city', One_Hot_Encoder(colnames=None, sparse=None, value_type=None)), ('rating', Column_Selector(colnames=None))],
       transformer_weights=None)

In [52]:
business_ids = df_review['business_id']

In [53]:
from gensim import corpora
from gensim.models.ldamodel import LdaModel as LDA
from gensim.models.doc2vec import Doc2Vec
from gensim.models.doc2vec import TaggedDocument as TD

def doc2vec_features(documents_hash, feature_count = 1000):
    business_ids = documents_hash.keys()
    documents = [documents_hash[b_id] for b_id in business_ids]
    tagged_documents = []
    for i, doc in enumerate(documents):
        tdoc = TD(doc.split(), tags = [i])
        tagged_documents.append(tdoc)

    doc2vec_model = Doc2Vec(tagged_documents, size = feature_count, iter = 5)
    doc2vec_features = [doc2vec_model.docvecs[i] for i in range(len(documents))]

    return doc2vec_features, business_ids, doc2vec_model

C:\Users\Harika Konagala\Anaconda2\lib\site-packages\gensim\utils.py:860: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [ ]:
deepnn_business_features, business_id_order, doc2vec_model = doc2vec_features(document_hash)

deepnn_business_features = np.array(deepnn_business_features)
print len(deepnn_business_features)

879

In [86]:
df_user_sub = df_user[df_user['review_count'] > 20]
# print len(df_user_sub)
users_idx = [v for v in df_user_sub['user_id']]
users_idx = list(set(users_idx))
len(users_idx)

1262

In [2]:
cosine_sim_avg_normal = 0.0
cosine_sim_avg_deep = 0.0
for itr, user_id in enumerate(users_idx[:50]):
    print '*&*&*&*&*&*&*&*&*&*' + str(itr) 
    # 2) For each user, construct a profile using only 80% of the businesses he reviews (80 businesses from example).
    reviewed_businesses = df_review.ix[df_review.user_id == user]
    reviewed_businesses_sub = reviewed_businesses.head(int(0.8*len(reviewed_businesses)))
    reviewed_businesses_unused = reviewed_businesses[~reviewed_businesses['business_id'].isin(reviewed_businesses_sub['business_id'])]
    reviewed_business_ids_unused = reviewed_businesses_unused['business_id']
    unused_bid_list = [v for v in reviewed_business_ids_unused]
    
    star_hash = {}
    for i in range(len(df_review)):
        if df_review['business_id'][i] in unused_bid_list:
            star_hash[df_review['business_id'][i]] = df_review['stars'][i]

NameError: name 'document_hash' is not defined